# This is a sample CMake.vars file for Hermes.

# Target path
set(CMAKE_INSTALL_PREFIX "d:/hpfem/hermes/dependencies")

# Optional features.
set(H2D_WITH_GLUT YES)
set(WITH_BSON YES)
set(WITH_MATIO YES)
set(MATIO_WITH_HDF5 YES)
set(WITH_TC_MALLOC YES)
SET(WITH_PARALUTION YES)
SET(WITH_MUMPS YES)

# Trilinos
SET(WITH_TRILINOS NO)
if (WIN32) 
  set(TRILINOS_ROOT "d:/hpfem/hermes/dependencies/trilinos")
else() 
  set(TRILINOS_ROOT "~/solvers/trilinos")
endif()

# Debug / release
set(HERMES_COMMON_RELEASE   NO)
set(H2D_RELEASE             NO)

# Some search paths.
if (WIN32)
  set(GLUT_ROOT "d:/hpfem/hermes/dependencies")
  set(GLEW_ROOT "d:/hpfem/hermes/dependencies")
  set(XERCES_ROOT "d:/hpfem/hermes/dependencies")
  set(XSD_ROOT "d:/hpfem/hermes/dependencies")
  set(PTHREAD_ROOT "d:/hpfem/hermes/dependencies")
  set(TCMALLOC_ROOT "d:/hpfem/hermes/dependencies")
  # if using UMFPACK - set the root
  if(WITH_UMFPACK)
    set(UMFPACK_ROOT "d:/hpfem/hermes/dependencies")
  endif(WITH_UMFPACK)
  # if using PARALUTION - set the root
  if(WITH_PARALUTION)
    set(PARALUTION_ROOT "d:/hpfem/hermes/dependencies")
  endif(WITH_PARALUTION)
  # if using MUMPS - set the root and also set where is the Windows BLAS library
  if(WITH_MUMPS)
    set(MUMPS_ROOT "d:/hpfem/hermes/dependencies")
    set(WINBLAS_ROOT "d:/hpfem/hermes/dependencies")
  endif(WITH_MUMPS)
  
  # Target (installation) path.
  set(TARGET_ROOT "d:/hpfem/hermes/dependencies")
else()
  #set(GLUT_ROOT "/usr/lib/")
  #set(GLEW_ROOT "/usr/lib/")
  #set(PTHREAD_ROOT "/usr/lib/")
  #set(UMFPACK_ROOT "/usr/lib/")
  #set(CLAPACK_ROOT "/usr/lib/")
endif()

# Trilinos - change "NO" to "YES" to use it, also Trilinos needs CLAPACK, so tell cmake where to find it.
set(WITH_TRILINOS NO)
if (WIN32) 
  set(TRILINOS_ROOT "d:/hpfem/hermes/dependencies/trilinos")
  set(CLAPACK_ROOT "d:/hpfem/hermes/dependencies")
else() 
  set(TRILINOS_ROOT "~/solvers/trilinos")
endif()