set(WITH_UMFPACK YES)	# build the support for UMFPACK
set(UMFPACK_ROOT )	# root directory of UMFPACK

set(WITH_TRILINOS YES)
set(TRILINOS_ROOT /opt/packages/trilinos)

SET(WITH_EXODUSII YES)
SET(EXODUSII_ROOT /opt/packages/exodusii)
SET(NETCDF_ROOT /opt/packages/netcdf)

