Source: hermes2d
Section: science
Priority: extra
Maintainer: Lukas Korous <lukas.korous@gmail.com>
Build-Depends: libamd2.2.0 (>= 3.4.0), libsuitesparse-dev (>= 3.2.0), libmumps-seq-dev (>= 4.10.0), xsdcxx (>= 3.3.0), libxerces-c-dev (>= 3.1.0), cmake, g++, gfortran, freeglut3-dev, libglew1.5-dev, python-sphinx
Standards-Version: 3.8.0
Homepage: http://hpfem.org/hermes

Package: hermes2d
Architecture: any
Depends: ${shlibs:Depends}, libamd2.2.0 (>= 3.4.0), libumfpack5.4.0 (>= 3.4.0), libmumps-seq-4.10.0 (>= 4.10.0), libblas3 (>= 1.2), libxerces-c3.1 (>= 3.1.0), freeglut3-dev, libglew1.5-dev
Description: hp-FEM multiphysics library
 Hermes is a C++ library for rapid development of adaptive hp-FEM / hp-DG solvers. Novel hp-adaptivity algorithms help solve a large variety of problems ranging from ODE and stationary linear PDE to complex time-dependent nonlinear multiphysics PDE systems. Highlights of Hermes  Capabilities:
  - L2, H1, HCurl, HDiv Sobolev spaces, polynomial degree up to 10
  - Hanging nodes of arbitrary order
  - Multimesh: component-specific meshes w/o projections or interpolations
  - Time-adaptivity with multitude of pre-implemented Runge-Kutta methods
  - Coupled problems solved together with hp-DG and hp-FEM
  - hp-Adaptivity based on reference solution and local projections
  - OpenMP parallelization
  - C++ templates for unified handling of real and complex problems
  - Own OpenGL visualization & VTK outputs of meshes, spaces, solutions
  - User-friendly written easy-to-grasp code
  - XML, BSON save / load of the most important classes
  - Solvers interfaces: UMFPACK, PARALUTION, PETSc, MUMPS, …
  - GMSH, ExodusII mesh formats
  - Matlab, MatrixMarket matrix exports
  - Well arranged doxygen documentation
  - Exception safe API