
@import url("default.css");

img.align-center{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
